﻿

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Create a column layout with Flexbox */
        .row {
            display: flex;
        }

        /* Left column (menu) */
        .left {
            flex: 1;
           
        }

            .left h2 {
                padding-left: 8px;
            }

        /* Right column (page content) */
        .right {
            flex: 65%;
            padding: 15px;
        }

        /* Style the search box */
    

        /* Style the navigation menu inside the left column */
        #myMenu {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myMenu li a {
                padding: 12px;
                text-decoration: none;
                color: black;
                display: block;
               text-align:center;
            }

                #myMenu li a:hover {
                    background-color:#63c2de;
                }
    </style>
</head>
<body>

  

    <div class="row">
        <div class="left" style="background-color:#004870;">
        
           
            <ul id="myMenu">
                <li><a href=/SinhVien/Index>Quản Lý Sinh Viên</a></li>
                <li><a href=/Giaovien/Index>Quản Lý Giáo Viên</a></li>
                <li><a href=/Lop/Index>Quản Lý Lớp Học</a></li>
             
            

            </ul>
        </div>

        <div class="right" style="background-color:#ddd;">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    
                </footer>
            </div>
        </div>
    </div>

    <script>
function myFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
    </script>

</body>
</html>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
