﻿
@{
    ViewBag.Title = "Employee List";
}

<h2>Employee List</h2>

<table id="employeeTable" class="display">
  <thead>
      <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
          <th>Salary</th>
      </tr>
  </thead>        
</table>

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scrpitssss{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function myfunction() {
            $("#employeeTable").DataTable({
                "ajax": {
                    "url": "/Employee/GetList",
                    "type": "GET",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "Name" },
                     { "data": "Position" },
                      { "data": "Office" },
                       { "data": "Age" },
                        { "data": "Salary" }
                ]
                //"serverSide": "true",
                //"order": [0, "asc"],
                //"processing":"true"

            });
        });
    </script>
    }