﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Bundles/modernizr")

</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>JQuery DataTable</p>
        </footer>
    </div>

   @Scripts.Render("~/Bundles/jquery")
    @Scripts.Render("~/Bundles/bootstrap")
    @RenderSection("scrpitssss", required: false)
</body>
</html>
